In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thaba-Tseka,LS,2021-12-29 20:05:25,-29.5220,28.6084,51.53,47,0,4.70
1,1,Port Alfred,ZA,2021-12-29 20:05:25,-33.5906,26.8910,66.13,72,88,6.49
2,2,Comodoro Rivadavia,AR,2021-12-29 20:05:25,-45.8667,-67.5000,76.86,22,0,28.77
3,3,Mataura,NZ,2021-12-29 20:05:26,-46.1927,168.8643,56.48,90,98,5.37
4,4,Cape Town,ZA,2021-12-29 20:05:26,-33.9258,18.4232,64.89,74,35,5.99

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Comodoro Rivadavia,AR,2021-12-29 20:05:25,-45.8667,-67.5000,76.86,22,0,28.77
7,7,Kapaa,US,2021-12-29 20:05:27,22.0752,-159.3190,77.32,78,75,4.00
12,12,Mount Isa,AU,2021-12-29 20:05:29,-20.7333,139.5000,78.57,53,59,6.91
17,17,Januaria,BR,2021-12-29 20:05:30,-15.4833,-44.3667,75.42,92,98,4.63
20,20,Envira,BR,2021-12-29 20:05:32,-7.3000,-70.2167,80.08,88,94,2.51
21,21,Carnarvon,AU,2021-12-29 20:05:32,-24.8667,113.6333,77.07,65,38,10.36
23,23,Chuy,UY,2021-12-29 20:05:33,-33.6971,-53.4616,78.44,52,17,15.26
24,24,Santa Vitoria Do Palmar,BR,2021-12-29 20:04:05,-33.5189,-53.3681,78.44,52,5,15.08
25,25,Puerto Ayora,EC,2021-12-29 20:05:33,-0.7393,-90.3518,76.96,87,95,5.99
33,33,Hilo,US,2021-12-29 20:05:33,19.7297,-155.0900,79.11,51,1,0.00

In [16]:
preferred_cities_df.count()

City_ID       179
City          179
Country       178
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
2        Comodoro Rivadavia      AR     76.86 -45.8667  -67.5000
7                     Kapaa      US     77.32  22.0752 -159.3190
12                Mount Isa      AU     78.57 -20.7333  139.5000
17                 Januaria      BR     75.42 -15.4833  -44.3667
20                   Envira      BR     80.08  -7.3000  -70.2167
21                Carnarvon      AU     77.07 -24.8667  113.6333
23                     Chuy      UY     78.44 -33.6971  -53.4616
24  Santa Vitoria Do Palmar      BR     78.44 -33.5189  -53.3681
25             Puerto Ayora      EC     76.96  -0.7393  -90.3518
33                     Hilo      US     79.11  19.7297 -155.0900

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

     
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Comodoro Rivadavia,AR,76.86,-45.8667,-67.5000,Austral Hotel
7,Kapaa,US,77.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Mount Isa,AU,78.57,-20.7333,139.5000,ibis Styles Mt Isa Verona
17,Januaria,BR,75.42,-15.4833,-44.3667,Hotel Paraguassu
20,Envira,BR,80.08,-7.3000,-70.2167,
21,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
23,Chuy,UY,78.44,-33.6971,-53.4616,Nuevo Hotel Plaza
24,Santa Vitoria Do Palmar,BR,78.44,-33.5189,-53.3681,Hostel Comodoro
25,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
33,Hilo,US,79.11,19.7297,-155.0900,Hilo Hawaiian Hotel

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))